<h1>
  <i class="fa-solid fa-stopwatch"></i>
  Orders in progress
</h1>
<div id="queue">
  <% @orders.each do |order| %>
    <blockquote>
      Order #<%= order.id %>
      <mark>
        <%= order.status %>
      </mark>
    </blockquote>
  <% end %>
</div>