<h1>
  <i class="fa-solid fa-list"></i>
  Menu
</h1>

<header>
  <nav>
    <% @menu_categories.each do |menu_category| %>
      <%= active_link_to menu_path(menu_category: menu_category) do %>
        <%= I18n.t("activerecord.attributes.menu_item.menu_categories.#{menu_category}") %>
      <% end %>
    <% end %>
    <%= link_to t(".all"), request.path if request.query_parameters.any? %>
  </nav>
</header>

<div id="menu" class="grid-cols-auto-fit">
  <% @menu_items.each do |menu_item| %>
    <%= render partial: "menu/menu_item", locals: { menu_item: menu_item } %>
  <% end %>
</div>
