<h1>
  <mark>admin</mark>
  <%= t("admin.orders.index.title") %>
  <mark>
    <%= @orders.count %>
  </mark>
</h1>

<div id="orders">
  <%= render collection: @orders, partial: "admin/orders/order", as: :order %>
</div>
