<h1>
  <i class="fa-solid fa-clock-rotate-left"></i>
  Kitchen:
  <%= @orders.count %>
</h1>

<div id="orders">
  <% @orders.each do |order| %>
    <%= render partial: "admin/orders/order", locals: {order: order} %>
  <% end %>
</div>
