<h1>
  <mark>admin</mark>
  <%= t("admin.orders.index.title") %>
  <mark>
    <%= @orders.count %>
  </mark>
</h1>

<div id="orders">
  <% @orders.each do |order| %>
    <%= render partial: "admin/orders/order", locals: { order: order } %>
  <% end %>
</div>
