<h1>
  <i class="fa-solid fa-clock-rotate-left"></i>
  <%= t(".title") %>
  <mark><%= @orders.count %></mark>
</h1>

<div id="orders">
  <%= render collection: @orders, partial: "orders/order", as: :order %>
</div>
