<h1>
  <i class="fa-solid fa-clock-rotate-left"></i>
  My Orders:
  <%= @orders.count %>
</h1>

<div id="orders">
  <% @orders.each do |order| %>
    <%= render partial: "orders/order", locals: {order: order} %>
  <% end %>
</div>
