<h1>
  <i class="fa-solid fa-clock-rotate-left"></i>
  Orders
</h1>

<div id="orders">
  <% @orders.each do |order| %>
    <%= render order %>
    <p>
      <%= link_to "Show this order", order %>
    </p>
  <% end %>
</div>
