<%= turbo_stream_from :orders_list %>

<h1>
  <i class="fa-solid fa-stopwatch"></i>
  <%= t(".title") %>
  <mark id="queue_count"><%= @orders.count %></mark>
</h1>

<div id="queue">
  <% @orders.each do |order| %>
    <%= render partial: "queue/queue_item", locals: { order: order } %>
  <% end %>
</div>
