<h1>
  <mark>admin</mark>
  <%= t("admin.products.index.title") %>
</h1>

<%= link_to "Add product", %i[new admin product] %>

<section id="products" class="grid-cols-auto-fit">
  <%= render collection: @products, partial: "product", as: :product %>
</section>
