<header>
  <nav>
    <% @categories.each do |category| %>
      <%= active_link_to products_path(category:), active: :exact do %>
        <%= I18n.t("activerecord.attributes.product.categories.#{category}") %>
      <% end %>
    <% end %>
    <%= link_to t(".all"), request.path if request.query_parameters.any? %>
  </nav>
</header>
